---
interface Props {
  root: string;
  page: number;
}

const { root, page } = Astro.props;
const PreviousElement = page !== 1 ? 'a' : 'span';
---

<div class="flex items-center justify-center my-3">
  <PreviousElement
    href={page !== 1 ? `${root}/${page - 1}` : undefined}
    class={`border border-slate-700 rounded-md px-3 rounded-r-none border-r-0 transition hover:text-slate-300 ${page === 1 ? 'disabled' : ''}`}
  >
    Previous
  </PreviousElement>
  <span class="border border-slate-700 px-6 font-semibold">Page {page}</span>
  <a
    href={`${root}/${page + 1}`}
    class="border border-slate-700 rounded-md px-3 rounded-l-none border-l-0 transition hover:text-slate-300"
  >
    Next
  </a>
</div>
<style>
  .disabled {
    @apply text-slate-600 select-none;
  }
</style>
