---
import '@fontsource/fira-mono';
import '@fontsource/inter';
import Dot from '../components/Dot';

interface Props {
  title: string;
  description: string;
  feed?: string;
}

const { title, description, feed } = Astro.props;
const feeds = ['news', 'newest', 'show', 'ask', 'jobs'];
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="dark:bg-gray-900 dark:text-slate-400">
    <div class="mx-auto px-4 py-4 max-w-screen-md">
      <div class="flex items-center justify-between flex-col md:flex-row">
        <h1 class="text-3xl text-slate-200 font-semibold my-3">
          <a href="/">Hacker News</a>
        </h1>
        <div slot="header" class="flex gap-2 items-center justify-center">
          {
            feeds.map((item, i) => (
              <>
                {i !== 0 && <Dot />}
                <a
                  href={`/${item}/1`}
                  class={
                    item === feed
                      ? 'font-semibold text-slate-300'
                      : 'transition hover:text-slate-300'
                  }
                >
                  {item}
                </a>
              </>
            ))
          }
        </div>
      </div>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
